<div class='panel panel-primary'>
    <div class="panel-heading">
        Registered Courses List
    </div>
    <div class="panel-body">

        <div class="row">

            <label class="col-md-2 control-label">Select Date</label>

            <div class="col-md-3">
                <my-date-picker [options]="myDatePickerOptions"
                                (dateChanged)="onDateChanged($event)"></my-date-picker>
            </div>

            <div class="col-md-7"></div>
        </div>

        <div class="row">
            <div class="col-md-12">&nbsp;
                </div>
            </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class='table-responsive'>
                            <table class='table' *ngIf="visitors && visitors.length">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>User</th>
                                        <th>FormType</th>
                                        <th>View</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor='let visitor of visitors'>
                                        <td>{{visitor.UserName}}</td>
                                        <td>{{visitor.FormType}}</td>

                                        <!--<td>{{visitor.UserID}}</td>
                                        <td>{{visitor.FormTypeID}}</td>-->
                                        <td>                                       
                                            <!--<a [routerLink]="['/courseslist',visitor.VisitorFormID,visitor.FormTypeID]">-->

                                            <a [routerLink]="['/courseslist',visitor.VisitorFormID,visitor.FormTypeID,visitor.UserID]">
                                                View
                                            </a>
                                        </td>

                                        <td>
                                            <div *ngIf="visitor.ApproveStatus === '1'">Approved</div>
                                            <div *ngIf="visitor.ApproveStatus === '0'">UnApproved</div>
                                            <div *ngIf="visitor.ApproveStatus === null">Pending</div>
                                            <!--<td>{{visitor.ApproveStatus}}-->
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
            </div>
        </div>        
            </div>
        </div>
