
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            {{pageTitle}}
        </div>
        <div class="panel-body">
            <div class="row">
            <div class="form-group">
                <label class="col-md-3 control-label">NAME</label>
                <div class="col-md-9">
                    {{name}}
                </div>
            </div>
           </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">AGE</label>
                    <div class="col-md-9">
                        {{age}}
                    </div>
                </div></div>

            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">GENDER</label>
                    <div class="col-md-9">
                        {{gender}}
                    </div>
                </div>
                </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">Son/of. or Dtr/of. or Wife/of</label>
                    <div class="col-md-9">
                        {{sonof}}
                    </div>
                </div>
                </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">Place & Country</label>
                    <div class="col-md-9">
                        {{place}}
                    </div>
                </div>
                </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        Nationality:
                    </label>
                    <div class="col-md-9">
                        {{nationality}}
                    </div>
                </div>
                </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">Marital Status: Single/Married/Separated/Living together/others</label>
                    <div class="col-md-9">
                        {{maritalstatus}}
                    </div>
                </div>
                </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">Date of Birth</label>
                    <div class="col-md-9">
                        {{dateofbirth}}
                    </div>
                </div>
                </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">Contact details in India</label>
                    <div class="col-md-9">
                        {{contactdin}}
                    </div>
                </div>
                </div>


            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">E Mail ID</label>
                    <div class="col-md-9">
                        {{eMailid}}
                    </div>
                </div>
                </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">Permanent Landline (Phone)</label>
                    <div class="col-md-9">
                        {{perland}}
                    </div>
                </div>
                </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">Permanent Mobile No</label>
                    <div class="col-md-9">
                        {{permob}}
                    </div>
                </div>
                </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">Mobile No in India</label>
                    <div class="col-md-9">
                        {{mobilein}}
                    </div>
                </div>
                </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">ADDRESS (Permanent)</label>
                    <div class="col-md-9">
                        {{address}}
                    </div>
                </div>
                </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        Passport  No, Valid up to date and Issued Place:
                        (Passport Copy is Mandatory for other Nationals)
                    </label>
                    <div class="col-md-9">
                        {{passport}}
                    </div>
                </div>
                </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        Visa No, Valid up to date and Issued Place
                    </label>
                    <div class="col-md-9">
                        {{visano}}
                    </div>
                </div>
                </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">Intending Dt.of Arrival in India, City and Place</label>
                    <div class="col-md-9">
                        {{intending}}
                    </div>
                </div>
                </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">Intending Dt.of Departure in India, City and Place</label>
                    <div class="col-md-9">
                        {{departure}}
                    </div>
                </div>
                </div> 

            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">Intending Dt.of Arrival in Devipuram</label>
                    <div class="col-md-9">
                        {{arrivaldev}}
                    </div>
                </div>
                </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">Intending Dt.of Departure in Devipuram</label>
                    <div class="col-md-9">
                        {{departuredev}}
                    </div>
                </div>
                </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">Next Destination in India, City and Place</label>
                    <div class="col-md-9">
                        {{ndestination}}
                    </div>
                </div>
                </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">Visited earlier  ( YES / NO) & Main Purpose of your visit:</label>
                    <div class="col-md-9">
                        {{visited}}
                    </div>
                </div>
                </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">EDUCATION</label>
                    <div class="col-md-9">
                        {{education}}
                    </div>
                </div>
                </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">Profession</label>
                    <div class="col-md-9">
                        {{profession}}
                    </div>
                </div>
                </div>


            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">Health:  (As we do not have medical assistance here, you may have to inform us if any special attention is required)</label>
                    <div class="col-md-9">
                        {{health}}
                    </div>
                </div>
                </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">Do you want to take Deeksha from Guru Amma ? (Not mandatory ):  YES / NO</label>
                    <div class="col-md-9">
                        {{deeksha}}
                    </div>
                </div>
                </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">Do you want to order for MERU s / HAVAN s/ from Devipuram : YES /  NO</label>
                    <div class="col-md-9">
                        {{meru}}
                    </div>
                </div>
                </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-md-12 control-label">
                        I,  Mr / Ms.		.	.	.	    .Confirm that the data given above is factual to the best of my knowledge. I approached Sri Vidya Trust – Devipuram as General Visitor on my own and agree to abide by all the rules and regulations of the organisation. I have complete knowledge of my health condition, will take care of it on my own and  would not hold the organisation responsible for any consequences on health grounds. I am fully aware that I will get  only vegetarian food, and I also assure that I will not indulge in any controversies with the inmates / visitors and maintain  the peace and tranquillity of the Ashram / organization.
                    </label>
                </div>
                </div>

            <div class="row">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Date:
                    </label>
                    <div class="col-md-2">
                        {{date1}}
                    </div>
                    <div class="col-md-2"></div>
                    <label class="col-md-4 control-label">
                        Sign of Applicant
                    </label>
                </div>
                </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-3"></div>
                    <label class="col-md-4 control-label">
                        ADDITIONAL INFORMTION
                    </label>
                    <div class="col-md-3"></div>
                </div>
                </div>


            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        Do you want  to be considered for Seva / volunteering going forwards:
                    </label>
                    <div class="col-md-9">
                        {{volunteering}}
                    </div>
                </div>
                </div>

                <div *ngIf="pvisible==true">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                If 'YES', days / months of your preference to come and extend that service:
                            </label>
                            <div class="col-md-9">
                                {{exten}}
                            </div>
                        </div>
                        </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Areas of interest to extend service</label>
                            <div class="col-md-9">
                                {{areasoi}}
                            </div>
                        </div>
                        </div>

                    </div>

                <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>


            </div>

        <!--<div class="panel-footer">
            <div class="row">
                <div class="col-md-6 col-md-offset-2">
                    <span>
                       
                        <a class="btn btn-primary"
                           [routerLink]="['/reply',visitorformId]">
                            Reply
                        </a>

                    </span>
                    <span>
                        <a class="btn btn-default"
                           [routerLink]="['/courseslist']">
                            Cancel
                        </a>
                    </span>
                </div>
            </div>
        </div>-->

    </div>
</div>

<!--<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <form class="form-horizontal"
          novalidate [formGroup]="genvinForm">
        <fieldset>
            <div class="panel-body">
                <div class="form-group"
                     [ngClass]="genvinForm.get('Name')">
                    <label class="col-md-2 control-label"
                           for="NameId">NAME</label>
                    <div class="col-md-8">
                        <input class="form-control"
                               id="NameId"
                               type="text"
                               formControlName="Name" />                         
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="genvinForm.get('Age')">
                    <label class="col-md-2 control-label"
                           for="AgeId">AGE</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="AgeId"
                               type="number"
                               formControlName="Age" />                         
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="genvinForm.get('Gender')">
                    <label class="col-md-2 control-label"
                           for="GenderId">GENDER</label>

                    <div class="col-md-8">

                        <input class="form-control"
                               id="GenderId"
                               type="text"
                               formControlName="Gender" />                          
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="genvinForm.get('Sonof')">
                    <label class="col-md-2 control-label"
                           for="SonofId">Son/of. or Dtr/of. or Wife/of</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="SonofId"
                               type="text"
                               formControlName="Sonof" />                         
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="genvinForm.get('Place')">
                    <label class="col-md-2 control-label"
                           for="PlaceId">Place & Country</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="PlaceId"
                               type="text"
                               formControlName="Place" />                         
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="genvinForm.get('Nationality')">
                    <label class="col-md-2 control-label"
                           for="NationalityId">
                        Nationality:
                    </label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="NationalityId"
                               type="text"
                               formControlName="Nationality" />                         
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="genvinForm.get('MaritalStatus')">
                    <label class="col-md-2 control-label"
                           for="MaritalStatusId">Marital Status: Single/Married/Separated/Living together/others</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="MaritalStatusId"
                               type="text"
                               formControlName="MaritalStatus" />                     
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="genvinForm.get('DateofBirth')">
                    <label class="col-md-2 control-label"
                           for="DateofBirthId">Date of Birth</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="DateofBirthId"
                               type="text"
                               formControlName="DateofBirth" />                         
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="genvinForm.get('ContactDin')">
                    <label class="col-md-2 control-label"
                           for="ContactDinId">Contact details in India</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="ContactDinId"
                               type="text"
                               formControlName="ContactDin" />                      
                    </div>
                </div>


                <div class="form-group"
                     [ngClass]="genvinForm.get('EMailID')">
                    <label class="col-md-2 control-label"
                           for="EMailIDId">E Mail ID</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="EMailIDId"
                               type="text"
                               formControlName="EMailID" />                       
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="genvinForm.get('PerLand')">
                    <label class="col-md-2 control-label"
                           for="PerLandId">Permanent Landline (Phone)</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="PerLandId"
                               type="text"
                               formControlName="PerLand" />                        
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="genvinForm.get('PerMob')">
                    <label class="col-md-2 control-label"
                           for="PerMobId">Permanent Mobile No</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="PerMobId"
                               type="text"
                               formControlName="PerMob" />                         
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="genvinForm.get('MobileIn')">
                    <label class="col-md-2 control-label"
                           for="MobileInId">Mobile No in India</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="MobileInId"
                               type="text"
                               formControlName="MobileIn" />                         
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="genvinForm.get('Address')">
                    <label class="col-md-2 control-label"
                           for="AddressId">ADDRESS (Permanent)</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="AddressId"
                               type="text"
                               formControlName="Address" />                         
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="genvinForm.get('Passport')">
                    <label class="col-md-2 control-label"
                           for="PassportId">
                        Passport  No, Valid up to date and Issued Place:
                        (Passport Copy is Mandatory for other Nationals)
                    </label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="PassportId"
                               type="text"
                               formControlName="Passport" />                         
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="genvinForm.get('VisaNo')">
                    <label class="col-md-2 control-label"
                           for="VisaNoId">
                        Visa No, Valid up to date and Issued Place
                    </label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="VisaNoId"
                               type="text"
                               formControlName="VisaNo" />
                         
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="genvinForm.get('Intending')">
                    <label class="col-md-2 control-label"
                           for="IntendingId">Intending Dt.of Arrival in India, City and Place</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="IntendingId"
                               type="text"
                               formControlName="Intending" />                         
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="genvinForm.get('Departure')">
                    <label class="col-md-2 control-label"
                           for="DepartureId">Intending Dt.of Departure in India, City and Place</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="DepartureId"
                               type="text"
                               formControlName="Departure" />                         
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="genvinForm.get('ArrivalDev')">
                    <label class="col-md-2 control-label"
                           for="ArrivalDevId">Intending Dt.of Arrival in Devipuram</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="ArrivalDevId"
                               type="text"
                               formControlName="ArrivalDev" />                         
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="genvinForm.get('DepartureDev')">
                    <label class="col-md-2 control-label"
                           for="DepartureDevId">Intending Dt.of Departure in Devipuram</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="DepartureDevId"
                               type="text"
                               formControlName="DepartureDev" />                         
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="genvinForm.get('NDestination')">
                    <label class="col-md-2 control-label"
                           for="NDestinationId">Next Destination in India, City and Place</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="NDestinationId"
                               type="text"
                               formControlName="NDestination" />                         
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="genvinForm.get('Visited')">
                    <label class="col-md-2 control-label"
                           for="VisitedId">Visited earlier  ( YES / NO) & Main Purpose of your visit:</label>

                    <div class="col-md-8">
                        <textarea class="form-control"
                                  id="VisitedId"
                                  rows="3"
                                  formControlName="Visited"></textarea>                         
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="genvinForm.get('Education')">
                    <label class="col-md-2 control-label"
                           for="EducationId">EDUCATION</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="EducationId"
                               type="text"
                               formControlName="Education" /> 
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="genvinForm.get('Profession')">
                    <label class="col-md-2 control-label"
                           for="ProfessionId">Profession</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="ProfessionId"
                               type="text"
                               formControlName="Profession" />                         
                    </div>
                </div>


                <div class="form-group"
                     [ngClass]="genvinForm.get('Health')">
                    <label class="col-md-2 control-label"
                           for="HealthId">Health:  (As we do not have medical assistance here, you may have to inform us if any special attention is required)</label>

                    <div class="col-md-8">
                        <textarea class="form-control"
                                  id="HealthId"
                                  rows="3"
                                  formControlName="Health"></textarea>                         
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="genvinForm.get('Deeksha')">
                    <label class="col-md-2 control-label"
                           for="DeekshaId">Do you want to take Deeksha from Guru Amma ? (Not mandatory ):  YES / NO</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="DeekshaId"
                               type="text"
                               formControlName="Deeksha" />                         
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="genvinForm.get('Meru')">
                    <label class="col-md-2 control-label"
                           for="MeruId">Do you want to order for MERU s / HAVAN s/ from Devipuram : YES /  NO</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="MeruId"
                               type="text"
                               formControlName="Meru" />                         
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-10 control-label">
                        I,  Mr / Ms.		.	.	.	    .Confirm that the data given above is factual to the best of my knowledge. I approached Sri Vidya Trust – Devipuram as General Visitor on my own and agree to abide by all the rules and regulations of the organisation. I have complete knowledge of my health condition, will take care of it on my own and  would not hold the organisation responsible for any consequences on health grounds. I am fully aware that I will get  only vegetarian food, and I also assure that I will not indulge in any controversies with the inmates / visitors and maintain  the peace and tranquillity of the Ashram / organization.

                    </label>

                </div>

               
                <div class="form-group" [ngClass]="genvinForm.get('Date')">
                    <label class="col-md-2 control-label" for="DateId">
                        Date:
                    </label>
                    <div class="col-md-2">
                        <input class="form-control"
                               id="DateId"
                               type="text"
                               formControlName="Date" /> 
                    </div>
                    <div class="col-md-2"></div>
                    <label class="col-md-4 control-label">
                        Sign of Applicant

                    </label>
                </div>


                <div class="form-group">
                    <div class="col-md-3"></div>
                    <label class="col-md-4 control-label">
                        ADDITIONAL INFORMTION

                    </label>
                    <div class="col-md-3"></div>
                </div>

              

                <div class="form-group"
                     [ngClass]="genvinForm.get('Volunteering')">
                    <label class="col-md-2 control-label"
                           for="VolunteeringVolunteeringId">
                        Do you want  to be considered for Seva / volunteering going forwards:
                    </label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="VolunteeringVolunteeringId"
                               type="text"
                               formControlName="Volunteering" />                          
                    </div>
                </div>

                <div *ngIf="pvisible==true">
                    <div class="form-group"
                         [ngClass]="genvinForm.get('Extends')">
                        <label class="col-md-2 control-label"
                               for="ExtendsId">
                            If 'YES', days / months of your preference to come and extend that service:
                        </label>

                        <div class="col-md-8">
                            <textarea class="form-control"
                                      id="ExtendsId"
                                      rows="3"
                                      formControlName="Extends"></textarea>
                        </div>
                    </div>


                    <div class="form-group"
                         [ngClass]="genvinForm.get('AreasOI')">
                        <label class="col-md-2 control-label"
                               for="AreasOIId">Areas of interest to extend service</label>

                        <div class="col-md-8">

                            <input class="form-control"
                                   id="AreasOIId"
                                   type="text"
                                   formControlName="AreasOI" />
                        </div>
                    </div>

                </div>

                <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
                

            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary"
                                    type="submit"
                                    style="width:80px;margin-right:10px">
                                Reply
                            </button>
                        </span>
                        <span>
                            <a class="btn btn-default"
                               [routerLink]="['/courseslist']">
                                Cancel
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>-->
