<div class="container-fluid">

    <div class="row">
        <div class="col-md-6" style="text-align:center">
            <h3>My Profile</h3>
        </div>
    </div>

    <div class="panel-body">

        <div class="row">
            <div class="form-group">
                <label class="col-md-3 control-label">UserName</label>
                <div class="col-md-9">
                    {{email}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="col-md-3 control-label">Name</label>
                <div class="col-md-9">
                    {{name}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="col-md-3 control-label">City</label>
                <div class="col-md-9">
                    {{city}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-md-3 control-label">Country</label>
                <div class="col-md-9">
                    {{country}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="col-md-3 control-label">Address</label>
                <div class="col-md-9">
                    {{address}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-md-3 control-label">Mobile</label>
                <div class="col-md-9">
                    {{mobile}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" style="text-align:center">
                <a class="btn btn-primary" role="button" [routerLink]="['/user','editprofile']">
                    Edit Profile
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div></div>

                <div class="row">
                    <div class="col-md-6" style="text-align:center">
                        <a class="btn btn-primary" role="button" [routerLink]="['/user','changepassword']">
                            Change Password
                        </a>
                    </div>
                </div>

                    <!--<div class="form-group">
                        <div class="col-md-4 col-md-offset-2">
                            <span>
                                <button class="btn btn-primary"
                                        type="submit"
                                        [disabled]="!signForm.valid">
                                    Save
                                </button>
                            </span>
                        </div>
                    </div>-->

                    <!--<div class="has-error" *ngIf="Message">{{Message}}</div>-->

                </div>


        </div>
