 <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="container-fluid">


                    <div *ngIf="video">
                        <div class="row">
                            <div class="col-md-12">    
                                {{video.VideoEmbedcode}}
                                <!--<iframe width="450" height="338" src="https://www.youtube.com/embed/z-ni9eJnKVU?controls=0" frameborder="0" allowfullscreen></iframe>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{video.VideoTitle}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{video.VideoDescription}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        <div class="col-md-1"></div>
        </div>


    <div class="row">
        <div class="col-md-12">
            <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
        </div>
    </div>
</div> 
 
<!--one two-->