<div class="container-fluid">
    <div class="row">        
        <div class="col-md-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4" *ngFor='let photo of photos'>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">                                  
                                    <a [routerLink]="['/photos/display',photo.AlbumId]">
                                        <img src="{{photo.AlbumThumbUrl}}">
                                    </a>                                   
                                </div>
                            </div>
                            <br />                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div> 