 <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="container-fluid">


                    <div *ngIf="photo">
                        <div class="row">
                            <div class="col-md-12">    
                                <!--{{photo.AlbumUrl}}-->                                 
                                <!--<iframe width="800" height="600" [src]='safeURL' frameborder="0" allowfullscreen></iframe>-->
                                <div [innerHTML]="albumurl"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>  {{photo.Title}} </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{photo.Description}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        <div class="col-md-1"></div>
        </div>


    <div class="row">
        <div class="col-md-12">
            <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
        </div>
    </div>
</div> 
 
<!--one two-->