 <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul>
            <!--<li>
                <a [routerLink]="['/courses','srividyareg']">Sri Vidya Application</a>
            </li>-->          
            <li>
                <a [routerLink]="['/courses','generalvisitor']">General Visitor Application</a>
            </li>
            <li>
                <a [routerLink]="['/courses','generalvisitorin']">International General Visitor Application</a>
            </li>
             <li>
                    <a [routerLink]="['/courses','srimeru']">Sri Maha Meru Application</a>
             </li>

                <!--<li>
                    <a [routerLink]="['/courses','edit']">Example test</a>
                </li>-->
            </ul>
        </div>
    </div>
</div> 
 
<!--one two-->