<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul>
            <li routerLinkActive="active">
                <a [routerLink]="['/home']">Sri Vidya Application</a>
            </li>          
            <li routerLinkActive="active">
                <a [routerLink]="['/devipuram']">General Visitor Application</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/guruji']">International General Visitor Application</a>
            </li>
            </ul>
        </div>
    </div>
</div>