<div class="panel-body">
    <form class="form-horizontal"
          novalidate>
        <fieldset>
            <legend>Sri Vidya Form Part2</legend>
         
            <div class="form-group">
                <label class="col-md-2 control-label" for="descriptionId">*Health: As we do not have any medical assistance here you may have to inform us
if any special attention is required.  </label>
                <div class="col-md-8">
                    <textarea class="form-control"
                              id="descriptionId"
                              placeholder="Description"
                              rows=3
                              [(ngModel)]=product.description
                              name="description"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="descriptionId">
                    How did you come to know about DEVIPURAM and the Courses?
                </label>
                <div class="col-md-8">
                    <textarea class="form-control"
                              id="descriptionId"
                              placeholder="Description"
                              rows=3
                              [(ngModel)]=product.description
                              name="description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="descriptionId">
                    Have you taken Deeksha from anybody? If ‘YES’ from Whom?
                </label>
                <div class="col-md-8">
                    <textarea class="form-control"
                              id="descriptionId"
                              placeholder="Description"
                              rows=3
                              [(ngModel)]=product.description
                              name="description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="descriptionId">
                    Preference of language to learn the course. English / Telugu / Hindi / others
                </label>
                <div class="col-md-8">
                    <textarea class="form-control"
                              id="descriptionId"
                              placeholder="Description"
                              rows=3
                              [(ngModel)]=product.description
                              name="description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="descriptionId">
                    YES / NO
                </label>
                <div class="col-md-8">
                    <textarea class="form-control"
                              id="descriptionId"
                              placeholder="Description"
                              rows=3
                              [(ngModel)]=product.description
                              name="description"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="descriptionId">
                    Want to be considered for SVC - Advanced Course (in future) at Devipuram. 
                </label>
                <div class="col-md-8">
                    <textarea class="form-control"
                              id="descriptionId"
                              placeholder="Description"
                              rows=3
                              [(ngModel)]=product.description
                              name="description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="descriptionId">
                    At present your proficiency into Spirituality / Sadhana / Upasana?
                </label>
                <div class="col-md-8">
                    <textarea class="form-control"
                              id="descriptionId"
                              placeholder="Description"
                              rows=3
                              [(ngModel)]=product.description
                              name="description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="descriptionId">
                    Please mention your aim and objective in learning the course/s.
                    Personal practice / to teach / earn livelihood / just curiosity / any other ?
                </label>
                <div class="col-md-8">
                    <textarea class="form-control"
                              id="descriptionId"
                              placeholder="Description"
                              rows=3
                              [(ngModel)]=product.description
                              name="description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="descriptionId">
                    Willing to make some voluntary contribution to improve facilities at Devipuram?
                </label>
                <div class="col-md-8">
                    <textarea class="form-control"
                              id="descriptionId"
                              placeholder="Description"
                              rows=3
                              [(ngModel)]=product.description
                              name="description"></textarea>
                </div>
            </div>

           
            <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
        </fieldset>
    </form>
</div> 