<div class="panel-body">
    <form class="form-horizontal"
          novalidate
          #productForm="ngForm">
        <fieldset>
            <legend>Sri Vidya Form Part1</legend>
            <div class="form-group"
                 [ngClass]="{'has-error': (productNameVar.touched ||
                                              productNameVar.dirty || product.id !== 0) &&
                                              !productNameVar.valid }">
                <label class="col-md-2 control-label"
                       for="productNameId">Name</label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="productNameId"
                           type="text"
                           placeholder="Name (required)"
                           required
                           minlength="3"
                           [(ngModel)]=product.productName
                           name="productName"
                           #productNameVar="ngModel" />
                    <span class="help-block" *ngIf="(productNameVar.touched ||
                                                     productNameVar.dirty || product.id !== 0) &&
                                                     productNameVar.errors">
                        <span *ngIf="productNameVar.errors.required">
                              name is required.
                        </span>
                        <span *ngIf="productNameVar.errors.minlength">
                              name must be at least three characters.
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group"
                 [ngClass]="{'has-error': (productCodeVar.touched ||
                                              productCodeVar.dirty || product.id !== 0) &&
                                              !productCodeVar.valid }">
                <label class="col-md-2 control-label" for="productCodeId">AGE</label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="productCodeId"
                           type="text"
                           placeholder="AGE (required)"
                           required
                           [(ngModel)]=product.productCode
                           name="productCode"
                           #productCodeVar="ngModel" />
                    <span class="help-block" *ngIf="(productCodeVar.touched ||
                                                     productCodeVar.dirty || product.id !== 0) &&
                                                     productCodeVar.errors">
                        <span *ngIf="productCodeVar.errors.required">
                            AGE required.
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group"
                 [ngClass]="{'has-error': (productCodeVar.touched ||
                                              productCodeVar.dirty || product.id !== 0) &&
                                              !productCodeVar.valid }">
                <label class="col-md-2 control-label" for="productCodeId">GENDER</label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="productCodeId"
                           type="text"
                           placeholder="GENDER (required)"
                           required
                           [(ngModel)]=product.productCode
                           name="productCode"
                           #productCodeVar="ngModel" />
                    <span class="help-block" *ngIf="(productCodeVar.touched ||
                                                     productCodeVar.dirty || product.id !== 0) &&
                                                     productCodeVar.errors">
                        <span *ngIf="productCodeVar.errors.required">
                            GENDER required.
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group"
                 [ngClass]="{'has-error': (productCodeVar.touched ||
                                              productCodeVar.dirty || product.id !== 0) &&
                                              !productCodeVar.valid }">
                <label class="col-md-2 control-label" for="productCodeId"> Son/of. or Dtr/of. or Wife/of </label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="productCodeId"
                           type="text"
                           placeholder="(required)"
                           required
                           [(ngModel)]=product.productCode
                           name="productCode"
                           #productCodeVar="ngModel" />
                    <span class="help-block" *ngIf="(productCodeVar.touched ||
                                                     productCodeVar.dirty || product.id !== 0) &&
                                                     productCodeVar.errors">
                        <span *ngIf="productCodeVar.errors.required">
                            required.
                        </span>
                    </span>
                </div>
            </div>
            <div class="form-group"
                 [ngClass]="{'has-error': (productCodeVar.touched ||
                                              productCodeVar.dirty || product.id !== 0) &&
                                              !productCodeVar.valid }">
                <label class="col-md-2 control-label" for="productCodeId"> Place & Country </label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="productCodeId"
                           type="text"
                           placeholder="(required)"
                           required
                           [(ngModel)]=product.productCode
                           name="productCode"
                           #productCodeVar="ngModel" />
                    <span class="help-block" *ngIf="(productCodeVar.touched ||
                                                     productCodeVar.dirty || product.id !== 0) &&
                                                     productCodeVar.errors">
                        <span *ngIf="productCodeVar.errors.required">
                            required.
                        </span>
                    </span>
                </div>
            </div>
            <div class="form-group"
                 [ngClass]="{'has-error': (productCodeVar.touched ||
                                              productCodeVar.dirty || product.id !== 0) &&
                                              !productCodeVar.valid }">
                <label class="col-md-2 control-label" for="productCodeId"> Nationality (Together/ Others) </label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="productCodeId"
                           type="text"
                           placeholder="(required)"
                           required
                           [(ngModel)]=product.productCode
                           name="productCode"
                           #productCodeVar="ngModel" />
                    <span class="help-block" *ngIf="(productCodeVar.touched ||
                                                     productCodeVar.dirty || product.id !== 0) &&
                                                     productCodeVar.errors">
                        <span *ngIf="productCodeVar.errors.required">
                            required.
                        </span>
                    </span>
                </div>
            </div>
            <div class="form-group"
                 [ngClass]="{'has-error': (productCodeVar.touched ||
                                              productCodeVar.dirty || product.id !== 0) &&
                                              !productCodeVar.valid }">
                <label class="col-md-2 control-label" for="productCodeId"> Marital Status: Single/Married/Separated/Living  </label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="productCodeId"
                           type="text"
                           placeholder="(required)"
                           required
                           [(ngModel)]=product.productCode
                           name="productCode"
                           #productCodeVar="ngModel" />
                    <span class="help-block" *ngIf="(productCodeVar.touched ||
                                                     productCodeVar.dirty || product.id !== 0) &&
                                                     productCodeVar.errors">
                        <span *ngIf="productCodeVar.errors.required">
                            required.
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group"
                 [ngClass]="{'has-error': (productCodeVar.touched ||
                                              productCodeVar.dirty || product.id !== 0) &&
                                              !productCodeVar.valid }">
                <label class="col-md-2 control-label" for="productCodeId">  E Mail ID  </label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="productCodeId"
                           type="text"
                           placeholder="(required)"
                           required
                           [(ngModel)]=product.productCode
                           name="productCode"
                           #productCodeVar="ngModel" />
                    <span class="help-block" *ngIf="(productCodeVar.touched ||
                                                     productCodeVar.dirty || product.id !== 0) &&
                                                     productCodeVar.errors">
                        <span *ngIf="productCodeVar.errors.required">
                            required.
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group"
                 [ngClass]="{'has-error': (productCodeVar.touched ||
                                              productCodeVar.dirty || product.id !== 0) &&
                                              !productCodeVar.valid }">
                <label class="col-md-2 control-label" for="productCodeId"> Mobile Ph  </label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="productCodeId"
                           type="text"
                           placeholder="(required)"
                           required
                           [(ngModel)]=product.productCode
                           name="productCode"
                           #productCodeVar="ngModel" />
                    <span class="help-block" *ngIf="(productCodeVar.touched ||
                                                     productCodeVar.dirty || product.id !== 0) &&
                                                     productCodeVar.errors">
                        <span *ngIf="productCodeVar.errors.required">
                            required.
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group"
                 [ngClass]="{'has-error': (productCodeVar.touched ||
                                              productCodeVar.dirty || product.id !== 0) &&
                                              !productCodeVar.valid }">
                <label class="col-md-2 control-label" for="productCodeId"> EDUCATION  </label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="productCodeId"
                           type="text"
                           placeholder="(required)"
                           required
                           [(ngModel)]=product.productCode
                           name="productCode"
                           #productCodeVar="ngModel" />
                    <span class="help-block" *ngIf="(productCodeVar.touched ||
                                                     productCodeVar.dirty || product.id !== 0) &&
                                                     productCodeVar.errors">
                        <span *ngIf="productCodeVar.errors.required">
                            required.
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group"
                 [ngClass]="{'has-error': (productCodeVar.touched ||
                                              productCodeVar.dirty || product.id !== 0) &&
                                              !productCodeVar.valid }">
                <label class="col-md-2 control-label" for="productCodeId"> Expertise  </label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="productCodeId"
                           type="text"
                           placeholder="(required)"
                           required
                           [(ngModel)]=product.productCode
                           name="productCode"
                           #productCodeVar="ngModel" />
                    <span class="help-block" *ngIf="(productCodeVar.touched ||
                                                     productCodeVar.dirty || product.id !== 0) &&
                                                     productCodeVar.errors">
                        <span *ngIf="productCodeVar.errors.required">
                            required.
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group"
                 [ngClass]="{'has-error': (productCodeVar.touched ||
                                              productCodeVar.dirty || product.id !== 0) &&
                                              !productCodeVar.valid }">
                <label class="col-md-2 control-label" for="productCodeId"> PROFESSION: Student/ In service/ self employed/ Business/ Retired/ Others  </label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="productCodeId"
                           type="text"
                           placeholder="(required)"
                           required
                           [(ngModel)]=product.productCode
                           name="productCode"
                           #productCodeVar="ngModel" />
                    <span class="help-block" *ngIf="(productCodeVar.touched ||
                                                     productCodeVar.dirty || product.id !== 0) &&
                                                     productCodeVar.errors">
                        <span *ngIf="productCodeVar.errors.required">
                            required.
                        </span>
                    </span>
                </div>
            </div>

            <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
        </fieldset>
    </form>
</div> 