<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li routerLinkActive="active">
                            <a [routerLink]="['/home']">Home</a>
                        </li>
                        <!--<li routerLinkActive="active">
                            <a [routerLink]="['/devipuram']">About Devipuram</a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['/guruji']">About Guruji</a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['/articles']">Guruji's Writings</a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['/campusevents']">Events</a>
                        </li>-->
                        
                        <li routerLinkActive="active" *ngIf="!authService.isAdmin()">
                            <a [routerLink]="['/videos','list']">Videos</a>
                        </li>
                        <li routerLinkActive="active" *ngIf="authService.isAdmin()">
                            <a [routerLink]="['/videos','insert']">Publish Video</a>
                        </li>

                        <!--<li routerLinkActive="active">
                            <a [routerLink]="['/dailyschedule']">Rituals at Devipuram</a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['/srividya']">Learn Sri Divya</a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['/photogallery']">Photo Gallery</a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['/contact']">Contact</a>
                        </li>-->                        
                        <li routerLinkActive="active" *ngIf="authService.isUser()">
                            <a [routerLink]="['/courses']">Couses</a>
                        </li>                        
                        <li routerLinkActive="active" *ngIf="authService.isAdmin()">
                            <a [routerLink]="['/courseslist']">CoursesList</a>
                        </li>

                        <li routerLinkActive="active">
                            <a [routerLink]="['/products']">Cart</a>
                        </li>                       
                    </ul>
                       <ul class="nav navbar-nav navbar-right">         
        <li *ngIf="!authService.isLoggedIn()">
            <a [routerLink] ="['/login']">Log In</a>
        </li>
        <li *ngIf="authService.isLoggedIn()">
            <a (click)="logOut()">Log Out</a>
        </li>
    </ul>
 
                </div>
            </nav>
        </div>
    </div>
    
    <div class="row">        
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
 