<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!--<a class="navbar-brand">{{pageTitle}}</a>-->
                    <ul class="nav navbar-nav">
                        <li routerLinkActive="active">
                            <a [routerLink]="['/home']">Home</a>
                        </li>
                        <!--<li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">-->
                        <li routerLinkActive="active">
                            <a [routerLink]="['/devipuram']">About Devipuram</a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['/guruji']">About Guruji</a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['/articles']">Guruji's Writings</a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['/campusevents']">Events</a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['/videogallery']">D-TV</a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['/dailyschedule']">Rituals at Devipuram</a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['/srividya']">Learn Sri Divya</a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['/photogallery']">Photo Gallery</a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['/contact']">Contact</a>
                        </li>                        
                        <li routerLinkActive="active" *ngIf="authService.isUser()">
                            <a [routerLink]="['/courses']">Couses</a>
                        </li>                        
                        <li routerLinkActive="active" *ngIf="authService.isAdmin()">
                            <a [routerLink]="['/courseslist']">CoursesList</a>
                        </li>

                        <li routerLinkActive="active">
                            <a [routerLink]="['/products']">Cart</a>
                        </li>

                        <!--<li routerLinkActive="active">
                            <a [routerLink]="['/courses']">products</a>
                        </li>-->

                        <!--<li routerLinkActive="active">
                            <a [routerLink]="['/products']">products</a>
                        </li>-->
                    </ul>

                     <!--<ul class="nav navbar-nav navbar-right">
        <li *ngIf="!authService.isLoggedIn()">
            <a [routerLink] ="['/login']">Log In</a>
        </li>
        <li>
            <a (click)="logOut()">Log Out</a>
        </li>
    </ul>--> 


                    <ul class="nav navbar-nav navbar-right">         
        <li *ngIf="!authService.isLoggedIn()">
            <a [routerLink] ="['/login']">Log In</a>
        </li>
        <li *ngIf="authService.isLoggedIn()">
            <a (click)="logOut()">Log Out</a>
        </li>
    </ul>

                     
                    <!--<ul class="nav navbar-nav navbar-right">
         <li *ngIf="authService.isLoggedIn()">
            <a>Welcome {{ authService.currentUser.userName }}</a>
        </li>
        <li>
            <a>Show Messages</a>
        </li>
        <li *ngIf="!authService.isLoggedIn()">
            <a [routerLink] ="['/login']">Log In</a>
        </li>
        <li *ngIf="authService.isLoggedIn()">
            <a (click)="logOut()">Log Out</a>
        </li>
    </ul>-->

                </div>
            </nav>
        </div>
    </div>
    
    <div class="row">        
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>



<!--<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>--> 