 <div class="col-md-6 col-md-offset-3">
    <h2>Signup</h2>

    <div class="panel-body">
        <form class="form-horizontal"
              novalidate
              (ngSubmit)="signup()"
              [formGroup]="signForm">



            <fieldset>

                <div class="form-group"
                     [ngClass]="{'has-error': (signForm.get('email').touched || signForm.get('email').dirty) && !signForm.get('email').valid }">
                    <label class="col-md-2 control-label"
                           for="emailId">UserName</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="emailId"
                               type="text"
                               placeholder="Email (required)"
                               formControlName="email" />
                        <span class="help-block" *ngIf="emailMessage">
                            {{emailMessage}}
                        </span>


                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="{'has-error': (signForm.get('name').touched || signForm.get('name').dirty) && !signForm.get('name').valid }">
                    <label class="col-md-2 control-label"
                           for="nameId">Name</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="nameId"
                               type="text"
                               formControlName="name" />
                        <span class="help-block" *ngIf="(signForm.get('name').touched || signForm.get('name').dirty) && signForm.get('name').errors">
                            <span *ngIf="signForm.get('name').errors.required">
                                Please enter your name.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="{'has-error': (signForm.get('password').touched || signForm.get('password').dirty) && !signForm.get('password').valid }">
                    <label class="col-md-2 control-label"
                           for="passwordId">Password</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="passwordId"
                               type="password"
                               formControlName="password" />


                        <span class="help-block" *ngIf="(signForm.get('password').touched || signForm.get('password').dirty) && signForm.get('password').errors">
                            <span *ngIf="signForm.get('password').errors.required">
                                Please enter your Password.
                            </span>

                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary"
                                    type="submit"
                                    [disabled]="!signForm.valid">
                                Save
                            </button>
                        </span>
                    </div>
                </div>

                <div class="has-error" *ngIf="Message">{{Message}}</div>
            </fieldset>



            <!--<fieldset>  
                
                <div class="form-group"
                     [ngClass]="{'has-error': (signForm.get('UserName').touched || signForm.get('UserName').dirty) && !signForm.get('UserName').valid }">
                    <label class="col-md-2 control-label"
                           for="UserNameId">UserName</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="UserNameId"
                               type="text"   
                               placeholder="Email (required)" 
                               formControlName="UserName" />                         
                        <span class="help-block" *ngIf="emailMessage">
                            {{emailMessage}}
                        </span>


                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="{'has-error': (signForm.get('FirstName').touched || signForm.get('FirstName').dirty) && !signForm.get('FirstName').valid }">
                    <label class="col-md-2 control-label"
                           for="FirstNameId">FirstName</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="FirstNameId"
                               type="text"
                               formControlName="FirstName" />
                        <span class="help-block" *ngIf="(signForm.get('FirstName').touched || signForm.get('FirstName').dirty) && signForm.get('FirstName').errors">
                            <span *ngIf="signForm.get('FirstName').errors.required">
                                Please enter your FirstName.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="{'has-error': (signForm.get('Password').touched || signForm.get('Password').dirty) && !signForm.get('Password').valid }">
                    <label class="col-md-2 control-label"
                           for="PasswordId">Password</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="PasswordId"
                               type="Password"
                               formControlName="Password" />


                        <span class="help-block" *ngIf="(signForm.get('Password').touched || signForm.get('Password').dirty) && signForm.get('Password').errors">
                            <span *ngIf="signForm.get('Password').errors.required">
                                Please enter your Password.
                            </span>
                           
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary"
                                    type="submit"
                                    [disabled]="!signForm.valid">
                                Save
                            </button>
                        </span>
                    </div>
                </div>

                <div class="has-error" *ngIf="Message">{{Message}}</div>
                </fieldset>-->
            </form>
         </div>

    </div> 
  