
<div class="container-fluid">
    <div class='panel panel-primary'>
        <div class="panel-heading">
            Sri Vidya Courses
        </div>
        <div class="panel-body">
            <div class='table-responsive'>
                <table class='table' *ngIf="srividyacourse && srividyacourse.length">
                    <thead>
                        <tr>
                            <th>Course From Date</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let svc of srividyacourse'>
                            <td>{{svc.CourseFromDate}}</td>                           
                            <td>
                                <a [routerLink]="['/srividyacourse/display',svc.CourseID]">
                                   View Course
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>



    <!--<div class="container-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Articles
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4" *ngFor='let article of articles'>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a [routerLink]="['/articles/display',article.ArticleID]">
                                                    {{article.ArticleTitle}}
                                                </a>
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
