 <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="container-fluid">                     
                    <div *ngIf="article">                       
                        <div class="row">
                            <div class="col-md-12">
                                <h3>  {{article.ArticleTitle}} </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">                              
                                <!--<div>
                                    {{article.ArticleDescription}}
                                </div>-->

                                <div [innerHTML]="article.ArticleDescription"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        <div class="col-md-1"></div>
        </div>


    <div class="row">
        <div class="col-md-12">
            <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
        </div>
    </div>
</div> 
 

    <!--<div>
    {{article.ArticleDescription}}
    </div>-->
    <!--one two-->


